<div class="right">
    <form method="get" action="<%= url %>">
        <input type="text" name="search" value="<%= locals.search || '' %>"
               placeholder="question to search" autocomplete="off">
        <input type="submit" value="Search">
        <% if (session.user) { %>
        <br/>
        <div>
            <label>Sólo favoritos:</label>
            <input type="checkbox" name="searchFav" value="1" <%= locals.searchFav ? 'checked' : '' %>>
            <img src="/images/check-icon.png" width="20px" height="20px"/>
        </div>
        <% } %>
    </form>
</div>
<h1>
    <%= title %>
</h1>
<table id="quizzesIndex">
    <% for (var i in quizzes) { %>
    <% var quiz = quizzes[i]; %>
    <tr>
        <td>
            <% var attachment = quiz.attachment; %>
            <% include ../attachments/_show.ejs %>
        </td>
        <td>
            <% include ../favourites/plus-check.ejs %>
        </td>
        <td>
            <a href="/quizzes/<%= quiz.id %>/play"><%= quiz.question %></a>
        </td>
        <td colspan="2">
            <small>(by <%= quiz.author ? quiz.author.username : 'Anonymous' %>)</small>
        </td>
        <% if (session.user) { %>
        <% if (session.user.isAdmin || session.user.id === quiz.authorId) { %>
        <td>
            <a href="/quizzes/<%= quiz.id %>"><button class="menuButton">show</button></a>
        </td>
        <td>
            <a href="/quizzes/<%= quiz.id %>/edit"><button class="menuButton">edit</button></a>
        </td>
        <td>
            <a href="/quizzes/<%= quiz.id %>?_method=DELETE"
               onclick="return confirm('Delete: <%= quiz.question %>');">
                <button class="menuButton">delete</button>
            </a>
        </td>
        <% } %>
        <% } %>
    </tr>
    <% } %>
</table>
<% if (session.user) { %>
<a href="/quizzes/new"><button class="new" type="button">Create new quiz</button> </a>
<% } %>