<h1>
    All users:
</h1>
<table id="usersIndex">
    <% for (var i in users) { %>
    <% var user = users[i]; %>
    <tr>
        <td>
            <a href="/users/<%= user.id %>"><%= user.username %></a><small><%= user.isAdmin ? ' (admin)' : '' %></small>
        </td>
        <% if (session.user) { %>
        <% if (session.user.isAdmin || session.user.id === user.id) { %>
        <td>
            <a href="/users/<%= user.id %>/edit"><button class="menuButton">edit</button></a>
        </td>
        <% } %>
        <% if (session.user.isAdmin && session.user.id !== user.id) { %>
        <td>
            <a href="/users/<%= user.id %>?_method=DELETE"
               onclick="return confirm('Delete user: <%= user.username %>');">
                <button class="menuButton">delete</button>
            </a>
        </td>
        <% } %>
        <% } %>
    </tr>
    <% } %>
</table>
<% if (session.user) { %>
<a href="/users/new"><button class="new" type="button">Create new user</button> </a>
<% } %>